MODE=other

TOKEN_KEEP_ALIVE=2hr
JWT_SECRET_KEY=mySecretKey

MONGO_ATLAS_URI=mongoUri
SENDGRID_API_KEY=sengridApiKey
ADMIN_EMAIL=yourEmail

AWS_S3_BUCKET_NAME=bucketName
AWS_ACCESS_KEY_ID=awsAccessKey
AWS_SECRET_ACCESS_KEY=awsSecretKey
AWS_REGION=awsRegion

FACEBOOK_APP_ID=fbID
FACEBOOK_APP_SECRET=fbSecret